* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
}

h1 {
  text-align: center;
  margin: 8vh auto 4vh;
  letter-spacing: 0.25em;
  font-variant-ligatures: none;
  font-size: 40px;
}

#content {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 700px;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10vh auto;
  box-shadow: 0px 0px 6px 0px #ffffff;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.initial-actions {
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.initial-actions button {
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 5px green;
  color: #ffffff;
  font-size: 2.5em;
  background-color: inherit;
  padding: 30px;
}

.initial-actions button:nth-of-type(2) {
  box-shadow: inset 0px 0px 10px 5px blue;
}

.hidden {
  display: none;
}

.astronaut {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: aqua;
  opacity: 0;
}

.asteroid {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.medic {
  display: inline-block;
  position: absolute;
  background-image: url('../images/red-cross-logo.jpg');
  background-size: cover;
  height: 40px;
  width: 40px;
}

.oxygen-container {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #000000;
  text-align: center;
  line-height: 30px;
}

.over-box {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.3);
}

.game-over {
  position: relative;
  text-align: center;
}

.round-over {
  color: purple;
  background-color: white;
  padding: 20px;
  text-align: center;
}

progress {
  background-color: grey;
}

.progress-box {
  position: absolute;
  z-index: 1;
}

.timer-section {
  position: absolute;
  z-index: 1;
  right: 0;
}